html {
  height: 100%;
  scroll-padding-top: calc(#{$navbar-height} - 1px);
}
.fondo {
  background-image: url("../assets/truenti/fondo2.png");
}
.page-juegos {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card {
  width: 400px;
  .card-img-top {
    width: 100%;
  }
}
.juegos {
  margin-top: 80px;
  img {
    height: 400px;
    width: 500px;
  }
}
