html {
  background-image: url("../assets/truenti/fondo2.png");
  height: 100%;
  scroll-padding-top: calc(#{$navbar-height} - 1px);
}

.page-juegos {
  h1 {
    color: $primary;
  }
  display: flex;
  flex-direction: column;
  text-align: center;
}
.juegos {
  color: transparent !important;
  margin-top: 80px;
  img {
    height: 400px;
    width: 500px;
  }
}
