//
// Typography
//

$font-family-sans-serif: "Montserrat";

$headings-font-family: "Work Sans";
$font-family-monospace: "Work Sans";

$headings-font-weight: 700;
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.75;
