// 
// Footer
// 

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $secondary;
    color: $white;
    
}
.logo{
    width: 200px;
    height: 160px;
}
.prueba{
    padding-top: 4rem;
}

.copyright {
    background-color: darken($secondary, 10%);
}



