// 
// Footer
// 

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:black;
    color: $white;
    
}
.logo{
    width: 200px;
    height: 160px;
}
.paddingss{
    padding-top: 4rem;
}

.copyright {
    background-color: black;
}



