//
// Portfolio
//

.portfolio {
  height: 90vh;
  margin: 0;
  display: flex;
}

.logo-login {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.form-login {
  a {
    color: $secondary;
  }
}

// Styling for the portfolio modals
.portfolio-modal {
  .btn-close {
    color: $primary;
    font-size: 2rem;
    padding: 1rem;
  }

  .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}
