//
// Portfolio
//

.portfolio {
  height: 90vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  a {
    color: $secondary;
  }
  .logo-login {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  .form-login {
    overflow: hidden;
  }
}

// Styling for the portfolio modals
.portfolio-modal {
  .btn-close {
    color: $primary;
    font-size: 2rem;
    padding: 1rem;
  }

  .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}
