body {
  display: flex;
  flex-direction: column;
  background-image: url(./fondo2.png);
  margin: 0;
  margin-bottom: 40px;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
form {
  font-family: "Montserrat", sans-serif;
  width: fit-content;
}
p {
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
}
#rayo {
  width: 331px;
  height: 342px;
}
#boton {
  width: fit-content;
  background-color: turquoise;
  font-family: "Montserrat", sans-serif;
}
footer {
  background-color: black;
  opacity: 60%;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 5%;
  font-family: "Montserrat", sans-serif;
}
#logofoot {
  justify-content: left;
}
